@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$sans-serif: sans-serif;

$font-monserrat: 'Montserrat', $sans-serif;
$font-open-sans: 'Open Sans', $sans-serif;
$black: #333;

$background: white;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    background: $background;
    z-index: 1;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 25px;
}

h1, h2, .btn{
    font-family: $font-monserrat;
}

h1 a, h1 a:hover, h1 .fa, h2 a, h2 .fa, h2 a:hover{
    color: $black;
}

p{
    font-size: 18px;
    font-family: $font-open-sans;
}

.gn-menu-main{
    z-index: 1004;
}

.container{
    z-index: 2;
    padding: 10px;
}

.list-group-item{
    background: #eee;
}

.fa{
    font-size: 30px;
    color: white;
}

.gn-menu-wrapper.gn-open-all{
    border-right: 1px solid #c6d0da;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background: $black;
  text-align: center;
  color: white;
}

.list-group-item{
    background: none;
}

.jumbotron{
    background: none;
}

@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 0;
        padding-bottom: 0;
    }
}
