---
layout: page
generator: "pagination"
provider: "site.posts"
max_page: 5
sort_by: "date"
---
<ul class="list-group">
    {% for post in page.pagination.items %}
    <li class="list-group-item">
        <div class="jumbotron">
            <h4><small><strong>{{ post.date | date('F jS \\a\\t g:ia') }}</strong></small></h4>
             <h1>
                 <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
             </h1>
          <p>{# post.content|slice(0,100) #}</p>
          <!--<p><a class="btn btn-primary btn-lg" href="{# site.url #}{# post.url #}" role="button">Learn more</a></p>-->
        </div>
    </li>
    {% endfor %}
</ul>

{% include "paginator.html" %}
