---
layout: page
generator: "pagination"
provider: "site.posts"
max_page: 5
sort_by: "date"
---
<ul class="list-group">
    {% for post in page.pagination.items %}
    <li class="list-group-item">
            <h4><small><strong>{{ post.date | date('F jS | Y') }}</strong></small></h4>
             <h1>
                 <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
             </h1>
          <p>{{ post.content|slice(0,250) }} <a href="{{ site.url }}{{ post.url }}">[...]</a></p>
    </li>
    {% endfor %}
</ul>

{% include "paginator.html" %}
